h4{
    color: red;
}

.image{
    max-width: 100%;
}

.column {
    text-align: center;
    float: left;
    width: 25%;

}
  
.row {
    display: table;

}

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
}