.addcounter{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  
}
.addcounter button{
  background-color: blueviolet;
  padding: 10px;
  border-radius: 10px;
}
.cout{
  display: flex;
}
.counter{
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
  height: 30px;
}
.counter button{
  height: 30px;

}